*{
    margin:0;
    padding:0;
}
.main{
    width:100;
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(1.jpg);
    background-size:cover;
    background-position:center;
    height: 110vh;
}
.navbar{
 width:1200px;
 height:75px;
 margin:auto;   
}
.icon{
width:200px;
float:left;
height:70px;
}
.logo{
    color:#00d5ff;
    font-size:35px;
    font-family:Arial;
    padding-left:20px;
    float:left;
    padding-top:10px;
}
.menu{
    width:400px;
    float:left;
    height:70px;
}
ul{
    float:left;
    display:flex;
    justify-content:content;
    align-items:center;
}
ul li{
    list-style-type:none;
    margin-left:60px;
    margin-top:27px;
    font-size:14px;
}
ul li a{
    color:white;
    font-weight:bold;
    font-family:Arial;
    text-decoration:none;
    transition:0.4s ease-in-out;
}
ul li a:hover{
    color:#ff00bf;
}
.search{
    width: 330px;
    float:left;
    margin-left:270px;
    color: #fff;
}
.s{
    font-family: 'Times New Roman';
    width:200px;
    height:40px;
    background:transparent;
    color:white;
    border:1px solid #00d5ff;
    float:left;
    margin-top: 24px;
    padding:11px;
}
.btn{
    width:100px;
    height:40px;
    background:#0091ff;
    border:2px;
    color:white;
    font-family: 'arial';
    font-weight: bold;
    margin-top:23px;
    font-size:15px;
}
.btn:focus{
 outline:none;   
}
.content{
    width:1200px;
    height:auto;
    margin:auto;
    color:#fff;
    position:relative;
}
.content .par{
    padding-left:20px;
    padding-bottom: 25px;
    font-family: arial;
    letter-spacing:1.2px;
    line-height:30px;
}
.content h1{
    font-family:"Times new Roman";
    font-size:50px;
    padding-left:20px;
    margin-top:9%;
    letter-spacing:2px;
}
.content .cn{
    width:160px;
    height:40px;
    background:2px #0091ff;
    border:none;
    margin-left:20px;
    margin-bottom:10px;
    font-size:18px;
    text-decoration: none;
    border-radius:11px;
}
.content .cn a{
    text-decoration:none;


}
.cn:hover{
    background-color:white;
}
.form{
    width:250px;
    height:380px;
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5));
    position:absolute;
    top:-20px;
    left:870px;
    border-radius:10px;
    padding:10px;
    padding-left:40px;
}
.form h2{
    width:220px;
    font-family:sans-serif;
    text-align:center;
    padding: left 30px;;
}
.form input{
    width:200px;
    height:35px;
    background:transparent;
    color:aliceblue;
    font-size:15px;
    margin-top:30px;
    border-color: #00aaff;
    
}
::placeholder{
    color:#fff;
}
.btnn{
    width:200px;
    height:40px;
    background:#0091ff;
    margin-top: 30px;
    border:none;
    border-radius:10px;
    color:#fff;
}
.btnn:hover{
    background:#fff;
    color:#0091ff;
}
.btnn a{
    text-decoration: none;
    color:#000;
    font-weight:bold;
}
.form .link{
    text-decoration:none;
    color:#0091ff;
    padding-top:20px;
    font-size:17px;
    margin-left:20px;
    font-family:Arial, Helvetica, sans-serif;
    padding-left:0px;
}
.form .link a{
    text-decoration:none;
    color:whitesmoke;
    padding-left:30px;
    text-decoration:underline;
}
.liw{
    padding-top:15px;
    padding-bottom:10px;
}    
